.cartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 30px;
}

.cartNumber {
  position: relative;
  padding-right: 6px;
  top: 1px;
  font-weight: 500;
  font-size: 16px;
}

.cartModal {
  :first-child {
    max-width: 800px !important;
  }
}

.headerMenuItem {
  cursor: pointer;
}

.headerMenuItem:hover {
  background-color: #f5f5f5;
  text-decoration: underline;
}
