.decrementOperand {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: -7px;
  left: -1px;
}

.incrementOperand {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: -7px;
  left: -3px;
}

.incrementDecrementButton {
  border-radius: 50% !important;
  height: 32px;
  width: 32px;
  margin: 0px 5px;
}

.itemRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  margin: 10px 0px;
  border-bottom: 1px solid #ccc;
}
