.beerCard {
  width: 48%;
  float: left;
  padding: 1%;
  margin: 1%;
}

.beerCardImage {
  margin-left: 37%;
  height: 200px;
}

.kegBeerCardImage {
  margin-left: 20%;
  height: 200px;
}

.contributedBy {
  font-weight: bold;
}

.beerTab {
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-left: 2px;
}

.activeBeerTab {
  background: #e6f0ff;
}

.beerCardHeader {
  background: none;
  padding-bottom: 0px;
}

.readMore {
  color: #0d6efd;
  text-decoration: underline;
}

.beerParagraph {
  font-size: 14px;
}

.cancelledBeer {
  opacity: 0.5;
}
