.beerCard {
  width: 44%;
  float: left;
  padding: 1%;
  margin: 1%;
}

.beerCardImage {
  margin-left: 37%;
  height: 200px;
}

.kegBeerCardImage {
  margin-left: 25%;
  height: 200px;
}

.contributedBy {
  font-weight: bold;
}

.beerTab {
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.activeBeerTab {
  background: #4dd2ff;
}

.beerCardHeader {
  background: none;
  padding-bottom: 0px;
}

.readMore {
  color: #0d6efd;
  text-decoration: underline;
}

.beerParagraph {
  font-size: 14px;
}